<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="PerformanceTestSuite" verbose="1" parallel="methods" thread-count="1">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="PerformanceTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="docker_test.PerformanceTest"/>
        </classes>
    </test>
</suite>
